body {
  --navi-blue: #2e2f42;
  --white: #ffffff;
  --slate: #434455;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;

  font-family: "Roboto", sans-serif;
  color: var(--navi-blue);
  font-style: normal;

  background-color: var(--white);
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1160px;
  padding-left: 16px;
  padding-right: 16px;
}
.list-reset {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.text-decoratione-none {
  text-decoration: none;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5em;
  color: #4d5ae5;
}
.logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5em;
  color: var(--navi-blue);
}
.header-nav {
  text-decoration: none;
  line-height: 1.5em;
}
.menu-item-link {
  text-decoration: none;

  color: var(--navi-blue);
}
.menu-item-link:hover {
  color: var(--slate);
}
.menu-item-link:focus {
  color: var(--iris);
}
.contacts-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--slate);
}
.contacts-link:hover {
  color: var(--iris);
}
.hero {
  padding: 188px 0;
  background: var(--navi-blue);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.075em;

  color: var(--white);
}
.button {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  display: inline-flex;
  cursor: pointer;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 4px;
}
.button--primary {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--iris);
  color: var(--white);
}
.button--primary:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.button--primary:focus {
  background-color: var(--ocean);
}
.button--secondary {
  background-color: var(--cloud);
  color: var(--iris);
}
.button--secondary:focus {
  background-color: var(--ocean);
  color: var(--white);
}
.button--secondary.active {
  background-color: var(--ocean);
  color: var(--white);
}
.button--sm {
  padding: 12px 24px;
}

.features-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  color: var(--navi-blue);
}
.features-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--slate);
}

.projects,
.team {
  color: var(--navi-blue);
}
.projects-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  color: var(--navi-blue);
}
.team {
  background-color: var(--cloud);
}
.taem-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  color: var(--navi-blue);
}
.team-list {
  display: grid;
  grid-template-columns: repeat(4, 264px);
  justify-content: center;
  grid-gap: 24px;
}
.team-item {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  color: var(--navi-blue);
}
.team-position {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--slate);
}
.footer {
  background-color: var(--navi-blue);
}
.footer-logo-studio {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5em;
  color: var(--cloud);
}
.footer-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--cornflower);
}

.projectcard-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  color: var(--navi-blue);
}
.projectcard-position {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  color: var(--slate);
}
.projectcard-item {
  border: 1px solid var(--cornflower);
}
