:root {
  --navi-blue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --slate: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
.section {
  padding: 120px 0;
}
address {
  font-style: normal;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/**-----header-----*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo-web {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navi-blue);
}
/**----menu----*/
.menu {
  font-weight: 500;
  color: var(--navi-blue);
  display: flex;
  gap: 40px;
}

.menu-item-link {
  text-decoration: none;
  color: var(--navi-blue);
}
.menu-item-link:hover {
  color: var(--ocean);
}
.menu-item-link:focus {
  color: var(--ocean);
}
.address {
  font-style: normal;
}

.contacts-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-left: 40px;
}
.contacts-link:hover {
  color: var(--ocean);
}
.contacts-link:focus {
  color: var(--ocean);
}
.contacts {
  display: flex;
  margin-right: auto;
}
/**----hero----*/
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background: var(--navi-blue);
}
.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
}
.button {
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  display: block;
  margin: 48px auto 0;
  border-radius: 4px;
  width: 169px;
  height: 56px;
}
.button:hover {
  color: var(--white);
  background-color: var(--iris);
}

button:focus {
  color: var(--white);
  background: var(--ocean);
}
/**----features----*/
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  flex-basis: calc((100% - 72px) / 4);
}
.features-title {
  margin-top: 0;
  margin-bottom: 8px;
}
/**----projects----*/
.projects-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 48px) / 3);
}
.projects {
  padding-top: 0;
}
.projects-item {
  flex-basis: calc((100% - 48px) / 3);
}
.projects-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
}
/**----team----*/
.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud);
}
.team-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
}
.team-item {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
}
.team-img {
  padding-top: 0;
  padding-bottom: 32px;
}
/**----footer----*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navi-blue);
}
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.footer-text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
}
/**----other----*/
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
  margin-bottom: 8px;
}

/**---------portfolio----------*/
.portfolio-section {
  padding-top: 72px;
  padding-bottom: 120px;
}
.section-button {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.button-link {
  padding: 12px 24px;
  border-radius: 4px;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.button-link:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.projectcard {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 20px;

  margin-top: 72px;
}
.projectcard-item {
  flex-basis: auto;
  border: 1px solid var(--cornflower);
}

.projectcard-img {
  flex-basis: calc((100% - 216px) / 9);
}

.element-style {
  padding: 32px 16px;
}
