:root {
  --navi-blue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --slate: #434455;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navi-blue);
}
.menu {
  font-weight: 500;
  color: var(--navi-blue);
}
.menu-item-link {
  text-decoration: none;
  color: var(--navi-blue);
}
.menu-item-link:hover {
  color: var(--ocean);
}
.menu-item-link:focus {
  color: var(--ocean);
}
.address {
  font-style: normal;
}
.contacts-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.contacts-link:hover {
  color: var(--ocean);
}
.contacts-link:focus {
  color: var(--ocean);
}
.hero {
  padding: 188px 0;
  background: var(--navi-blue);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}
.button {
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
}
.button:hover {
  color: var(--white);
  background-color: var(--iris);
}

button:focus {
  color: var(--white);
  background: var(--ocean);
}

.projects-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
}

.footer {
  background-color: var(--navi-blue);
}
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}

/**---------portfolio----------*/

.button-link {
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.button-link:hover {
  color: var(--white);
  background-color: var(--ocean);
}
.banking-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
}
