:root {
  --navi-blue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
  --slate: #434455;
  --green: #31d0aa;
  --light-slate: #8e8f99;
  --dairy: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

.section {
  padding: 120px 0;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-footer {
  display: flex;
  gap: 120px;
}

/**-----header-----*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--cornflower);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-web {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navi-blue);
}

/**----menu----*/
.menu {
  font-weight: 500;
  color: var(--navi-blue);
  display: flex;
  gap: 40px;
}

.menu-item-link {
  text-decoration: none;
  color: var(--navi-blue);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  padding-bottom: 33px;
}
.menu-item-link.current {
  color: var(--ocean);
}

.menu-item-link.current::after {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(-125%);

  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.menu-item-link:hover {
  color: var(--ocean);
}
.menu-item-link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}

.contacts-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-left: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover {
  color: var(--ocean);
}

.contacts-link:focus {
  color: var(--ocean);
}

.contacts {
  display: flex;
  margin-right: auto;
  gap: 40px;
}

/**----hero----*/
.hero {
  background-color: var(--navi-blue);
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
}

.button {
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  display: block;
  margin: 48px auto 0;
  border: none;
  width: 169px;
  height: 56px;
  transition: color, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: var(--white);
  background-color: var(--iris);
}

button:focus {
  color: var(--white);
  background: var(--ocean);
}

/**----features----*/
.icon {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4fd;
}
.icon-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list {
  display: flex;
  gap: 24px;

  justify-content: center;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-title {
  margin-top: 0;
  margin-bottom: 8px;
}

/**----projects----*/
.projects-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 48px) / 3);
}

.projects {
  padding-top: 0;
}

.projects-item {
  flex-basis: calc((100% - 48px) / 3);
}

.projects-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
}

/**----team----*/
.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud);
}
.team-name {
  margin-bottom: 8px;
}
.team-position {
  margin-bottom: 8px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
}

.team-item {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-soc-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover {
  background-color: var(--ocean);
}

.customers {
  margin: 120px 0 72px 0;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue);
}

.customers-item {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 144px) / 6);
  margin-bottom: 120px;
}

.customers-link {
  flex-basis: calc((100% - 144px) / 6);
}

.customers-item-link {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  color: var(--light-slate);
  border-color: var(--light-slate);
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item-link:hover {
  color: var(--ocean);
  border-color: var(--ocean);
}

.customers-btn {
  fill: currentColor;
}

/**----footer----*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navi-blue);
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.31;
  height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
}

.social {
  display: flex;
  justify-content: center;
  width: 96px;
  height: 24px;
  line-height: 1.5;
  font-size: 16px;
  color: var(--white);
}

.social-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  margin-top: 16px;
}

.social-link {
  display: flex;
}
.social-link-item {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--slate);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
}

.social-link-item:hover {
  background: var(--green);
}

.subscribe {
  margin-left: 80px;
  display: block;
}

.subscribe-form {
  margin-top: 0em;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 16px;
  color: var(--white);
  margin: 0;
}

.subscribe-section {
  display: flex;
}
border .subscribe-input {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0 16px 0 16px;
  height: 40px;
  width: 264px;
  background-color: transparent;
  outline: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button {
  display: flex;
  padding: 8px 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  margin-left: 24px;
  background: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--ocean);
}

.subscribe-submit {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  margin-right: 16px;
  padding: 0;
  border: none;
}

/**----other----*/
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
  margin-bottom: 8px;
}

/**---------portfolio----------*/
.portfolio-section {
  padding-top: 72px;
  padding-bottom: 120px;
}
.section-button {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.button-link {
  padding: 12px 24px;
  border: none;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: background, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-link:hover {
  color: var(--white);
  background-color: var(--ocean);
}

.projectcard {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 20px;
  margin-top: 72px;
}

.projectcard-item {
  flex-basis: calc((100% - 48px) / 3);
  border: 1px solid var(--cornflower);
}
.projectcard-item:hover .projectcard-img-text {
  transform: translateY(0);
}
.projectcard-top {
  position: relative;
  overflow: hidden;
}
.projectcard-img-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background: var(--iris);
  padding: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projectcard-img {
  flex-basis: calc((100% - 216px) / 9);
}

.element-style {
  padding: 32px 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 252, 252, 0.39);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  padding: 72px 24px 24px 24px;
  max-width: 408px;
  width: 100%;
  min-height: 576px;
  background: var(--dairy);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms linear;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: var(--navi-blue);
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-close:hover {
  fill: var(--white);
  background-color: var(--ocean);
}

.modal-close:focus {
  fill: var(--white);
  background-color: var(--ocean);
}
.modal-form {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navi-blue);
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navi-blue);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal-input:focus,
.modal-input:active {
  border: 1px solid var(--iris);
}
.modal-input:focus + .input-icon {
  fill: var(--iris);
}
.modal-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  border: none;
  margin-bottom: 30px;
}

.modal-list input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 38px;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-icon {
  position: relative;
}

.coment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  margin-top: 8px;
}
.text-comment-input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  background-color: transparent;
  resize: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.check {
  opacity: 0;
  fill: var(--white);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-wrap {
  width: 16px;
  height: 16px;
  border: 1px solid var(--navi-blue);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox:checked + .text-commetn .check-wrap {
  border-color: var(--ocean);
  background-color: var(--ocean);
}
.checkbox:checked + .text-commetn .check-wrap .check {
  opacity: 1;
}
.accept {
  padding-top: 16px;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.text-commetn .text-comment-input:focus .text-comment-input:active {
  border: 1px solid var(--accent-color);
}

.groups {
  display: flex;
  flex-direction: column;
}
.privacy {
  color: var(--iris);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.button-send {
  margin-top: 24px;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  display: block;
  margin: 48px auto 0;
  border: none;
  width: 169px;
  height: 56px;
  transition: color, background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover {
  color: var(--white);
  background-color: var(--iris);
}

.button-send:focus {
  color: var(--white);
  background: var(--ocean);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
